# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ticket_user
POSTGRES_PASSWORD=ticket_pass
POSTGRES_DB=ticket_db

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# App
ENVIRONMENT=development
DEBUG=true

# Business Logic
OVERBOOK_FACTOR=0.3